*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    font-size: calc(20px);
    height: 98vh ;
    position: relative;
}
header{font-size: 2em;
    height: 15% ;
    position: relative;
}
nav{ height: 6% ;}
nav button{
    font-size: 1.2em;
}
button.small{
    width: 30%;
    padding: 0.1em 0.2em;
}
button{
    display: inline;
    border: none;
    background-color: rgba(172, 152, 210, 0.97);
    color: #d3ceac;
}
button:hover{
    color:white;
}
button.big{
    width: 45%;
    padding: 0.1em 0.5em;
}
main{
    margin-top: 1em;
    font-size: 1.6em;
    height: 60% ;
    position: relative;
}
main p#en{
    font-size: 1.6em;
    color:lightblue;
    text-shadow: 2px 2px gray ;
}
main p#pn{
    font-size: 1.2em;
    color:lightseagreen;
}
form{
    position: absolute ;
    width: 90% ;
    height: 50% ;
    border: 2px solid gray;
    left: 5% ;
    top: 10% ;
    background-color: antiquewhite;
    font-size: 1.1em ;
}
form input{
    font-size: 1.1em ;
    width: 6em;
}
form button{
    font-size: 1.3rem ;
    margin-right: 1em;
}

span#level{
    display: block;
    position: absolute;
    right:20px;
    top:1px;
    color: #bd9cd7;
    font-size: 0.5em;
}
p.cn{
    border:1px solid #b7a1d2;
    background-color: antiquewhite;
    cursor: pointer;
    font-size: 0.8em;
    margin-bottom: 0.2em;
}
p.cn.right{
    background-color: #baa2d9;
    color: #bfc08f;
}
p.cn.wrong{
    background-color: gray;
    color:white;
}
p.cn:hover{
    color: #d799d2;
}
header span#response{
    font-size: 0.8em;
    color: #d2c8a0;
    position: absolute;
    right: 0.5em;
    top:2em;
}
p#log{
    background-color: gray;
    color: white;
    font-size: 0.65em;
    padding: 5px 10px;
    text-align: center;
}
